page-user-center {
    .toolbar-title {
        // margin-left: 70px;
        text-align: center;
        font-weight: bolder;
    }
    .logout {
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}